html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: rgb(2, 11, 28);
}

main {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

h1 {
  /* font-size: 11rem; */
  font-size: clamp(6rem, 12vw, 11rem);
  margin-block-start: 0em;
  margin-block-end: 0em;
}
h1 span {
  /* font-size: 6rem; */
  font-size: clamp(3rem, 6vw, 5rem);
}
h2 {
  font-size: clamp(3rem, 6vw, 5rem);
  /* font-size: 5rem; */
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.git-container {
  width: 70%;
  aspect-ratio: 5/4;
}

.git {
  background-image: url("/images/gitstars.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: popout 0.5s ease-out;
  animation-delay: 0.3s;
}

.pc-container {
  width: 100%;
  aspect-ratio: 5/4;
}

.pc {
  background-image: url("/images/pc.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: popout 0.5s ease-out;
  animation-delay: 0.4s;
}

.graphics-right {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.graphics-left {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.site-container {
  width: 70%;
  aspect-ratio: 5/4;
  align-self: end;
}

.site {
  background-image: url("/images/site.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: popout 0.5s ease-out;
  animation-delay: 0.3s;
}

.web-container {
  width: 50%;
  aspect-ratio: 5/4;
  align-self: center;
}

.web {
  background-image: url("/images/web.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: popout 0.5s ease-out;
  animation-delay: 0.4s;
}

.headphones-container {
  width: 70%;
  aspect-ratio: 5/4;
}

.headphones {
  background-image: url("/images/headphones.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  animation: popout 0.5s ease-out;
  animation-delay: 0.4s;
}

a {
  text-decoration: none;
  color: rgb(2, 11, 28);
  background-color: rgb(60, 229, 212);
  padding: 1.5rem 3rem;
  margin-top: 3rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: larger;

  animation: pulse 1.5s ease-in-out infinite alternate;
}
a:hover {
  color: rgb(2, 11, 28);
  background-color: rgb(140, 249, 238);
  animation-play-state: paused;
}

.popout {
  animation: popout 0.5s ease-out;
  -webkit-animation: popout 0.5s ease-out;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
@media only screen and (max-width: 600px) {
  .git-container,
  .site-container,
  .web-container {
    display: none;
  }

  .graphics-left {
    width: 200px;
    align-self: flex-start;
  }
  .graphics-right {
    width: 250px;
    align-self: flex-end;
  }
  main {
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .graphics-left {
    width: 200px;
  }
  .graphics-right {
    width: 200px;
    align-items: flex-end;
  }
  main {
    gap: 2rem;
  }
}

@media only screen and (min-width: 2000px) {
  main {
    margin-top: 10%;
  }
}
