html,
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background: rgb(2, 11, 28);
}

main {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

h1 {
  font-size: 11rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
h1 span {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.git {
  background-image: url("/images/gitstars.png");
  background-size: cover;
  width: 320px;
  height: 270px;
  animation: popout 0.5s ease-out;
  animation-delay: 0.3s;
}
.pc {
  background-image: url("/images/pc.png");
  background-size: cover;
  width: 450px;
  height: 370px;

  animation: popout 0.5s ease-out;
  animation-delay: 0.4s;
}
.graphics-right {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.graphics-left {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.site {
  background-image: url("/images/site.png");
  background-size: cover;
  width: 300px;
  height: 220px;
  animation: popout 0.5s ease-out;
  animation-delay: 0.3s;
  align-self: end;
}
.web {
  background-image: url("/images/web.png");
  background-size: cover;
  width: 200px;
  height: 150px;
  animation: popout 0.5s ease-out;
  animation-delay: 0.4s;
  align-self: center;
}
.headphones {
  background-image: url("/images/headphones.png");
  background-size: cover;
  width: 370px;
  height: 290px;
  animation: popout 0.5s ease-out;
  animation-delay: 0.4s;
}

.img-right {
  background-image: url("/images/left-side.png");
  max-height: 900px;
  max-width: 550px;
  width: 450px;
  height: 750px;
  background-size: cover;
}

a {
  text-decoration: none;
  color: rgb(2, 11, 28);
  background-color: rgb(60, 229, 212);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 3rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: larger;
  transition: transform 0.2s ease-in-out;
  animation: dance 2s ease-in-out infinite alternate;
}
a:hover {
  transform: scale(1.07);
  animation: none;
}

.popout {
  animation: popout 0.5s ease-out;
  -webkit-animation: popout 0.5s ease-out;
}
@keyframes popout {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes dance {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(35deg);
  }
}
@media only screen and (max-width: 600px) {
  .git,
  .site,
  .web {
    display: none;
  }
  .pc {
    width: 200px;
    height: 170px;
  }
  .headphones {
    width: 250px;
    height: 200px;
  }
  .graphics-left {
    width: 200px;
    align-self: flex-start;
  }
  .graphics-right {
    width: 250px;
    align-self: flex-end;
  }
  main {
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    align-items: center;
  }

  h1 {
    font-size: 6rem;
  }
  h1 span {
    font-size: 3rem;
  }
  h2 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 450px) {
  .pc {
    width: 120px;
    height: 100px;
  }
  .headphones {
    width: 150px;
    height: 120px;
  }
  .graphics-left {
    width: 150px;
  }
  .graphics-right {
    width: 150px;
  }
  main {
    gap: 2rem;
  }
}
